@font-face {
  font-family: "Akrobat-Bold";
  font-weight: bold;

  src: url("fonts/Akrobat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Akrobat-Regular";
  font-weight: bold;

  src: url("fonts/Akrobat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Akrobat-SemiBold";
  font-weight: bold;

  src: url("fonts/Akrobat-SemiBold.woff") format("woff");
}

  @font-face {
    font-family: "Akrobat-Light";
    font-weight: bold;

    src: url("fonts/Akrobat-Light.woff") format("woff");
}
